<div class="cart__product__body" *ngIf="cartProducts?.length > 0">
    <h1>Cart Products</h1>
    <div class="cart__products">
        <table class="table " id="cart__products">
            <thead class="header">
                <tr>
                    <td scope="col">Product Id</td>
                    <td scope="col">Product Name</td>
                    <td scope="col">Price</td>
                    <td scope="col">Unit</td>
                    <td scope="col">Remove</td>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of cartProducts">
                    <td>{{product.productID}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.price}}</td>
                    <td>1</td>
                    <td><button (click)="removeCart(product)" class="product__btn"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg></button></td>
                </tr>
            </tbody>
        </table>
        <div><h4>Total Amount : {{amount}}</h4></div>
    </div>
    <div style="text-align: center; margin-top: 8px; ">
        <div colspan="7"><button type="button" class="btn_add__products" style="border-radius: 8px ;" (click)="buyBtnStateChange()">
                Buy Now</button> </div>
        <!-- (click)="openAddBtnState()"  -->
    </div>

    <div class="form" *ngIf="buyBtnState">
        <h2>Confirm order</h2>
        <div class="order__form_Add">
          <form (ngSubmit)="BuyProducts()">
            <div>
              <label for="Date">Order Date</label>
              <input type="text" id="date" placeholder="Today's Date" readonly [(ngModel)]="order.date"
                [ngModelOptions]="{standalone: true}">
                <!-- <script> 
                  var date = new Date(); 
                  var p = document.getElementById("myId"); 
                  p.innerHTML = date; 
                  </script>  -->
            </div>
            <div>
              <label for="customer__id">Customer Id</label>
              <input type="number" id="customer__id"   [(ngModel)]="order.customerID"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div>
              <label for="supplier_id">supplier Id</label>
              <input type="number" id="supplier_id" readonly [(ngModel)]="order.shipperID"
                [ngModelOptions]="{standalone: true}">
            </div>
            <!-- <div>
              <label for="product__supplier">Supplier Id</label>
              <input type="number" id="supplier__id" placeholder="Enter supplier id" [(ngModel)]="productVo.supplierId"
                [ngModelOptions]="{standalone: true}">
            </div> -->
            <div class="form__button">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
</div>

<div *ngIf="cartProducts?.length == 0" style="display: block; padding-top: 30px ; margin-top: 200px;">
    <h1 routerLink="../"><b>Add Products to cart</b></h1>
</div>