<header class="header">

  <ul>
    <!-- Amazon Icon -->
    <li><a routerLink="" class="Amazon_icon" style="padding-top: 0px;"><svg xmlns="http://www.w3.org/2000/svg"
          width="40" height="40" fill="currentColor" class="bi bi-bag-check-fill"
          style="margin-left: 5px;  margin-top: 12px;" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
        </svg>
      </a>
    </li>



    <!-- Admin Icon -->
    <!-- <li style="float:right;"><a><svg fill="#ffffff" height="36px" width="32px" style="padding-top: 5px;" version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"
            enable-background="new 0 0 24 24" xml:space="preserve">
            <g id="user-admin">
              <path d="M22.3,16.7l1.4-1.4L20,11.6l-5.8,5.8c-0.5-0.3-1.1-0.4-1.7-0.4C10.6,17,9,18.6,9,20.5s1.6,3.5,3.5,3.5s3.5-1.6,3.5-3.5
         c0-0.6-0.2-1.2-0.4-1.7l1.9-1.9l2.3,2.3l1.4-1.4l-2.3-2.3l1.1-1.1L22.3,16.7z M12.5,22c-0.8,0-1.5-0.7-1.5-1.5s0.7-1.5,1.5-1.5
         s1.5,0.7,1.5,1.5S13.3,22,12.5,22z" />
              <path
                d="M2,19c0-3.9,3.1-7,7-7c2,0,3.9,0.9,5.3,2.4l1.5-1.3c-0.9-1-1.9-1.8-3.1-2.3C14.1,9.7,15,7.9,15,6c0-3.3-2.7-6-6-6
         S3,2.7,3,6c0,1.9,0.9,3.7,2.4,4.8C2.2,12.2,0,15.3,0,19v5h8v-2H2V19z M5,6c0-2.2,1.8-4,4-4s4,1.8,4,4s-1.8,4-4,4S5,8.2,5,6z" />
            </g>
          </svg></a>
        <div style="color: aliceblue;padding-left: 10px;">
          <div class="navbar" style="padding-top: 4px; ">
            <div class="dropdown" style="padding-right: 6px;">
              <button class="dropbtn">Admin<i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a routerLink="/admin/product">Products</a>
                <a routerLink="/customer">Customer</a>
              </div>
            </div>
          </div>
        </div>
      </li> -->

    <!-- Order Icon -->
    <li style="float: right; padding-left: 0px; padding-right: 3px;"><a routerLink="/order"><svg
          xmlns="http://www.w3.org/2000/svg" height="40" width="40" style="padding-left: 3px;" fill="#ffffff">
          <path
            d="m29.167 34.042 5.791-5.75-1.75-1.75-4.041 3.958-1.625-1.625-1.75 1.792ZM10 14.458h20v-2.791H10Zm20.333 23.834q-3.291 0-5.625-2.354-2.333-2.355-2.333-5.605 0-3.333 2.333-5.687 2.334-2.354 5.667-2.354 3.292 0 5.646 2.354t2.354 5.687q0 3.25-2.354 5.605-2.354 2.354-5.688 2.354ZM5 36.625V7.792q0-1.167.812-1.98Q6.625 5 7.792 5h24.416q1.167 0 1.98.812.812.813.812 1.98v12.791q-.667-.333-1.354-.541-.688-.209-1.438-.334V7.792H7.792v24.416H19.75q.167.959.479 1.792.313.833.771 1.625l-1 1-2.5-2.5-2.5 2.5-2.5-2.5-2.5 2.5-2.5-2.5Zm5-8.292h9.833q.125-.75.334-1.437.208-.688.583-1.354H10Zm0-6.958h14.625q1.125-.792 2.5-1.271 1.375-.479 2.875-.562v-.917H10ZM7.792 32.208V7.792v24.416Z" />
        </svg>
      </a>
      <div style="color: aliceblue;padding-left: 10px;">Orders</div>
    </li>


    <!-- Cart Icon -->
    <li style="float: right;padding-right: 5px;"><a routerLink="/cart"><svg xmlns="http://www.w3.org/2000/svg"
          width="30" height="30" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
          <path
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
        </svg>
      </a>
      <div style="color: aliceblue;padding-top: 9px; padding-left: 12px;">Cart</div>
    </li>


    <!-- Amazon Name -->
    <li>
      <h2><a class="header__home" style="padding-top: 20px ; padding-left: 0px;" routerLink="">Amazon Shopping </a></h2>
    </li>

    <li style="float:center">
      <div style="padding-top: 25px; padding-left: 270px;">
        <h2 style="color: #ffffff;">Hi
          {{customerName}}
        </h2>
      </div>
    </li>


    <!-- Shipper Icon -->
    <!-- <li class="shipper" style="float: right; padding-left: 8px; padding-top: 1px; padding-right: 5px;"><a
          routerLink="/shipper"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            class="bi bi-truck-flatbed" viewBox="0 0 16 16">
            <path
              d="M11.5 4a.5.5 0 0 1 .5.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-4 0 1 1 0 0 1-1-1v-1h11V4.5a.5.5 0 0 1 .5-.5zM3 11a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm1.732 0h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4a2 2 0 0 1 1.732 1z" />
          </svg>
        </a>
        <div style="color: aliceblue; padding-top: 5px;">Shippers</div>
      </li> -->

    <!-- Customer Icon -->
    <!-- <li style="float: right; padding-right: 3px;"><a routerLink="/customer"><svg xmlns="http://www.w3.org/2000/svg"
            width="32" height="32" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path
              d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
          </svg></a>
        <div style="color: aliceblue;padding-top: 5px;padding-right: 5px;">Customers</div>
      </li> -->

  </ul>

  <button type="button" class="btn btn-danger btn-sm"
    style="width: 150px;position:fixed;bottom:5%;right:5px;margin:0;padding:5px 3px" (click)="open(addCustomerModal)">
    <span class="glyphicon glyphicon-plus"></span>
    Register Customer
  </button>

</header>
<ng-container *ngComponentOutlet="activeTab"> </ng-container>

<ng-template #addCustomerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="customer__form_Add">
      <form (ngSubmit)="addCustomer()">
        <div>
          <label for="customer__name">Customer Name</label>
          <input type="text" id="customer__name" placeholder="Enter customer name" [(ngModel)]="customer.customerName"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="customer__unit">City</label>
          <input type="text" id="customer__unit" placeholder="Enter City" [(ngModel)]="customer.city"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="customer__price">Postal Code</label>
          <input type="number" id="customer__price" placeholder="Enter Postal Code" [(ngModel)]="customer.postalCode"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="customer__supplier">Country</label>
          <input type="text" id="supplier__id" placeholder="Enter Country" [(ngModel)]="customer.country"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="customer__supplier">Address</label>
          <input type="text" id="supplier__id" placeholder="Enter Address" [(ngModel)]="customer.address"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form__button">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>