<div class="product__body">
  <h1>Products</h1>
  <div class="products">
    <table class="table " id="products">
      <thead class="header">
        <tr>
          <td scope="col">Product Id</td>
          <td scope="col">Product Name</td>
          <td scope="col">Price</td>
          <td scope="col">Unit</td>
          <td scope="col">Delete</td>
          <td scope="col">Edit</td>
          <!-- <td scope="col">Cart</td> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productVo of products">
          <td>{{productVo.productID}}</td>
          <td>{{productVo.productName}}</td>
          <td>{{productVo.price}}</td>
          <td>{{productVo.unit}}</td>

          <!-- Delete Product -->

          <td><button (click)="deleteProduct(productVo.productID)" class="product__btn"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" class="bi bi-trash-fill"
                viewBox="0 0 16 16">
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
              </svg></button>
          </td>

          <!-- Edit Product -->
          <td><button (click)="setEditProductId(productVo)" (click)="open(editProductModal)" class="product__btn"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" class="bi bi-pen-fill"
                viewBox="0 0 16 16">
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
              </svg></button>
          </td>
          


          <!-- Add or Remove Cart -->

          <!-- <td><button class="product__btn">
              <div *ngIf="productCartIcon(productVo.productID); else cartRemoveIcon" (click)="addCart(productVo)">
                <svg width="30px" height="30px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M44.3,10A3.3,3.3,0,0,0,42,9H35a2,2,0,0,0-2,2h0a2,2,0,0,0,2,2h5.8L38.5,27H13.6L12,13h7a2,2,0,0,0,2-2h0a2,2,0,0,0-2-2H11.5l-.4-3.4A3,3,0,0,0,8.1,3h-3A2.1,2.1,0,0,0,3,4.7,2,2,0,0,0,5,7H7.2l3.2,26.9a5.9,5.9,0,0,0-2.8,6.3,6.1,6.1,0,0,0,4.6,4.7,6.2,6.2,0,0,0,7-3.9H29.8a6,6,0,1,0,5.7-8,6.2,6.2,0,0,0-5.7,4H19.2a6,6,0,0,0-4.9-3.9L14.1,31H39.4a3,3,0,0,0,2.9-2.6L45,12.6A3.6,3.6,0,0,0,44.3,10ZM35.5,37a2,2,0,1,1-2,2A2,2,0,0,1,35.5,37Zm-20,2a2,2,0,1,1-2-2A2,2,0,0,1,15.5,39Z" />
                  <path
                    d="M20.4,16.8a2.1,2.1,0,0,0,.2,2.7l5,4.9a1.9,1.9,0,0,0,2.8,0l5-4.9a2.1,2.1,0,0,0,.2-2.7,1.9,1.9,0,0,0-3-.2L29,18.2V9a2,2,0,0,0-4,0v9.2l-1.6-1.6A1.9,1.9,0,0,0,20.4,16.8Z" />

                </svg>
              </div>
              <ng-template #cartRemoveIcon><button (click)="removeCart(productVo)">
                  <svg width="22px" height="22px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M44.3,10A3.3,3.3,0,0,0,42,9H37a2,2,0,0,0-2,2h0a2,2,0,0,0,2,2h3.8L38.5,27H13.6L12,13h5a2,2,0,0,0,2-2h0a2,2,0,0,0-2-2H11.5l-.4-3.4A3,3,0,0,0,8.1,3h-3A2.1,2.1,0,0,0,3,4.7,2,2,0,0,0,5,7H7.2l3.2,26.9a5.9,5.9,0,0,0-2.8,6.3,6.1,6.1,0,0,0,4.6,4.7,6.2,6.2,0,0,0,7-3.9H29.8a6,6,0,1,0,5.7-8,6.2,6.2,0,0,0-5.7,4H19.2a6,6,0,0,0-4.9-3.9L14.1,31H39.4a3,3,0,0,0,2.9-2.6L45,12.6A3.6,3.6,0,0,0,44.3,10ZM35.5,37a2,2,0,1,1-2,2A2,2,0,0,1,35.5,37Zm-20,2a2,2,0,1,1-2-2A2,2,0,0,1,15.5,39Z" />
                    <path
                      d="M33.6,15.2a2.1,2.1,0,0,0-.2-2.7l-5-4.9a1.9,1.9,0,0,0-2.8,0l-5,4.9a2.1,2.1,0,0,0-.2,2.7,1.9,1.9,0,0,0,3,.2L25,13.8V23a2,2,0,0,0,4,0V13.8l1.6,1.6A1.9,1.9,0,0,0,33.6,15.2Z" />

                  </svg>
                </button>
              </ng-template>
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>

    <!-- Add Product  -->
    <div style="text-align: center; margin-top: 8px; ">
      <div colspan="7"><button type="button" class="btn_add__products" (click)="open(addProduct)"
          style="border-radius: 8px ;">Add
          Products</button> </div>
    </div>

    <!-- Add Modal -->
    <ng-template #addProduct let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Product</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="product__form_Add">
          <form (ngSubmit)="addProducts()">
            <div>
              <label for="product__name">Product Name</label>
              <input type="text" id="product__name" placeholder="Enter product name" [(ngModel)]="product.productName"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div>
              <label for="product__unit">Unit</label>
              <input type="number" id="product__unit" placeholder="Enter units.." [(ngModel)]="product.unit"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div>
              <label for="product__price">Price</label>
              <input type="number" id="product__price" placeholder="Enter price" [(ngModel)]="product.price"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div>
              <label for="product__supplier">Supplier Id</label>
              <input type="number" id="supplier__id" placeholder="Enter supplier id" [(ngModel)]="product.supplierId"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div>
              <label for="product__image">Product Image</label>
              <input type="text" id="product__image" placeholder="Enter Product Url" [(ngModel)]="product.productImage"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form__button">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </ng-template>



    <!-- Edit Modal -->
    <ng-template #editProductModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Product</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="product__form_Add">
          <div class="edit__form">
            <form class="edit__form1" (ngSubmit)="editProduct()">
              <div>
                <h2>Edit Product with product id: {{product.productID}}</h2>
              </div>

              <div>
                <label for="product__name">Product Name</label>
                <input type="text" id="product__name" placeholder="Enter product name" [(ngModel)]="product.productName"
                  [ngModelOptions]="{standalone: true}">
              </div>

              <div>
                <label for="product__unit">Unit</label>
                <input type="number" id="product__unit" placeholder="Enter units.." [(ngModel)]="product.unit"
                  [ngModelOptions]="{standalone: true}">
              </div>

              <div>
                <label for="product__price">Price</label>
                <input type="number" id="product__price" placeholder="Enter price" [(ngModel)]="product.price"
                  [ngModelOptions]="{standalone: true}">
              </div>

              <div>
                <label for="product__supplier">Supplier Id</label>
                <input type="number" id="supplier__id" placeholder="Enter supplier id" [(ngModel)]="product.supplierId"
                  [ngModelOptions]="{standalone: true}">
              </div>

              <div>
                <label for="product__image">ProductImage</label>
                <input type="text" id="product__image" placeholder="Enter Image Link" [(ngModel)]="product.productImage"
                  [ngModelOptions]="{standalone: true}">
              </div>

              <div class="form__button">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </ng-template>