<header class="header">
  <div style="padding-top: 15px;">
    <ul>
      <!-- Amazon Icon -->
      <li><a routerLink="/admin" class="Amazon_icon" style="padding-top: 0px;"><svg xmlns="http://www.w3.org/2000/svg"
            width="40" height="40" fill="currentColor" class="bi bi-bag-check-fill"
            style="margin-left: 5px;  margin-top: 12px;" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
          </svg>
        </a>
      </li>




      <!-- Amazon Name -->
      <li>
        <h2><a class="header__home" style="padding-top: 20px ; padding-left: 0px;" routerLink="/admin">Amazon
            Shopping</a>
        </h2>
      </li>




      <!-- Customer Icon -->
      <li style="float: right; padding-right: 3px; margin-right: 15px;">
        <div id="signIn" style="color: aliceblue;padding-top: 5px;padding-right: 5px;" (click)="open(addCustomerModal)">
          <h3> Sign Up?


          </h3>
        </div>

      </li>
    </ul>
  </div>
</header>




<div style="text-align: center;">
  <button (click)="fun()"
    style="color: 2px solid aquamarine;border: #de2424; padding:5px 15px 5px 15px;margin-right: 10px; text-align: center; border-radius: 10px;">User</button>
  <a routerLink="admin"> <button
      style="color: 2px solid aquamarine;border: #de2424; padding:5px 15px 5px 15px;margin-right: 10px; text-align: center; border-radius: 10px;">Admin</button></a>
</div>


<div *ngIf="formOpen" style="text-align: center;">
  <form (ngSubmit)="setCustomer(cid.value)">
    <div style="padding-top:10px;">
      <label for="customer_Id" style="padding-right: 10px;">
        <h3>Customer Id</h3>
      </label>
      <input type="text" id="customer_Id" placeholder="Enter Customer Id" #cid style="box-shadow:0 0 15px 4px rgba(164, 12, 134, 0.6); border-radius: 10px;
      width: 200px;height: 40px;">
    </div>
    <div class="form__button" style="padding-top: 10px;">
      <button type="submit" style="border-radius: 15px;" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<img src="assets\landingPage.jpg" style=" padding-top: 100px;
display: block;
margin-left: auto;
margin-top: auto;

margin-right: auto;
width: 50%;">

<ng-template #addCustomerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="customer__form_Add">
      <form (ngSubmit)="addCustomer()">
        <div>
          <label for="customer__name">Customer Name</label>
          <input type="text" id="customer__name" placeholder="Enter customer name" [(ngModel)]="customer.customerName"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="customer__unit">City</label>
          <input type="text" id="customer__unit" placeholder="Enter City" [(ngModel)]="customer.city"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="customer__price">Postal Code</label>
          <input type="number" id="customer__price" placeholder="Enter Postal Code" [(ngModel)]="customer.postalCode"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="customer__supplier">Country</label>
          <input type="text" id="supplier__id" placeholder="Enter Country" [(ngModel)]="customer.country"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="customer__supplier">Address</label>
          <input type="text" id="supplier__id" placeholder="Enter Address" [(ngModel)]="customer.address"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form__button">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>