.cart__product__body {
  margin: 30px;
  padding: 10px;
  text-align: center;

}

h2 {
  text-decoration-color: #04AA6D;
  text-align: center;
  margin: 0 0 0 auto;
  padding-bottom: 10px;
}



.cart__products {
  align-items: auto;
  padding-top: 20px;
  width: 800px;
  align-items: center;
  margin: auto;
  background-color: #ddd;

  /* background-color: rgb(32, 86, 117); */
}

.table {
  margin: 0 auto;
}

table>tbody>tr>td {

  display: table-cell;
  vertical-align: middle;
}


#cart__products {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px !important;

}

#cart__products th {
  background-color: #04AA6D;
  color: white;
}

#cart__products td,
#cart__products th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cart__products tr:nth-child(even) {
  background-color: #f2f2f2;
}

#cart__products tr:hover {
  background-color: rgb(241, 193, 193);
}

#cart__products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.header {
  background-color: rgb(241, 193, 193) !important;
}

/* Add Button Css */


.order__form_Add {
  margin: auto;
  width: 600px;
  background-color: #393E46;
  color: white;
  align-items: center;
  border-radius: 25px;
  padding: 20px;
}

.order__form_Add div {
  margin: 10px;
  display: grid;
  flex-direction: row;
}

.order__form_Add input {
  border-radius: 25px;
  border: 0;
}

.order__form_Add .form__button {
  justify-content: center;
}

.btn_add__products {
  transition-duration: 0.4s;
}

.btn_add__products:hover {
  background-color: #5a4f42;
  /* Green */
  color: white;
}

.order__form_Add button {
  width: 100px;
  margin-top: 10px;
  background-color: var(--color1);
  border: 0;
  color: var(--color4);
}

.shopping button {
  width: 250px;
  margin-top: 10px;
  background-color: rgb(162, 162, 218);
  border: 0;
  color: var(--color4);
  border-radius: 10px;
}